* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
        scroll-behavior: smooth;
}
body {
    font-family: sans-serif;

}


body::selection {
    background-color: #A684FF;
    color: #fff;
}

.clear_fix {
    clear: both;
}

/* ==================== Nav ==================== */

.navbar {
    background-color: #F5F3FF;
    padding: 5px 100px 5px 0px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.logo .icon-nav img {
    width: 35px;
    background-color: #7c3aed;
    vertical-align: middle;
    border-radius: 5px;
    padding: 5px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    float: left;
    padding-left: 30px;
    padding-top: 15px;
}

.menu {
    float: right;

}

.menu a {
    margin-left: 30px;
    color: #555;
    font-size: 16px;
    font-family: sans-serif;
}

.menu a.active {
    color: #7c3aed;
    font-weight: bold;
}

.navbar ul {
    list-style: none;

}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #333;
    position: relative;
    padding-bottom: 5px;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #7c3aed;
    transition: 0.3s;
}


.navbar a:hover::after {
    width: 100%;
}

.navbar a.active::after {
    width: 100%;
}

/* =============         Nav   ==================== */

/* ==================== Hero-Section ===================== */
.container {
    width: 90%;
    margin: auto;
}

#hero-section {
    height: 100vh;
    margin: 120px 0 70px 0;
}

.drone-image {
    float: left;
    width: 40%;
    padding-top: 50px;

}

.image-box {
    background: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ddd;
    position: relative;
}

.image-box img {
    width: 100%;
    border-radius: 20px;

}

.badge {
    position: absolute;
    top: 50px;
    left: 35px;
    background: #7c3aed;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.hero-content {
    float: left;
    width: 50%;
    margin: 50px;
    padding: 20px 50px;


}

.hero-tags {
    padding: 5px 0;

}

.hero-tags span {
    padding: 3px 10px;
    border: 1px solid #A684FF;
    background-color: #A684FF;
    color: #fff;
    border-radius: 30px;
    margin-left: 5px;


}

.hero-content h1 {
    font-size: 43px;
    font-weight: 700;
    color:
        rgb(51, 51, 51);
    padding: 10px 0;
}

.hero-content h1 span {
    color: #A684FF;
}

.hero-content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: rgb(51, 51, 51);
    padding: 15px 0;
}

.hero-content .product-price .tags span {
    padding-left: 10px;
    vertical-align: middle;
}

.price {
    font-size: 36px;
    color: #333333;
    font-weight: 700;
}

.old-price {
    font-size: 24px;
    color: rgb(63, 62, 62);
    font-weight: 400;
    text-decoration: line-through;
}

.save {
    color: #E7000B;
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #FFE2E2;
    border-radius: 30px;
    background-color: #FFE2E2;
}

.hero-content .product-price p {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}

.cart-button {
    display: block;
    margin-top: 25px;
    width: 100%;
    padding: 16px;
    background: #7c3aed;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: all 1s;
}

.cart-button:hover {
    transform: scale(1.05);
}

.wishlist-button {
    display: block;
    margin-top: 15px;
    width: 100%;
    padding: 16px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: all 1s;

}

.wishlist-button:hover {
    transform: scale(1.05);
}

.icon-btn img {
    width: 25px;
    vertical-align: middle;
}

/* ======== start Style of  Compare section =============  */
#compare-section {
    background-color: #F7F5FF;
    padding: 50px 0;
}


.title {
    text-align: center;
    padding: 40px;
}

.title h2 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 25px;
    color: rgb(51, 51, 51);
}

.title h2 span {
    color: #7c3aed;
}

.title p {
    font-size: 20px;
    font-weight: 400;
    color:
        rgb(51, 51, 51);
}

.table-sec {
    border: 1px solid #b4b0b0;
    border-radius: 15px;
    background-color: #fff;
}

.table {
    width: 100%;
    border-collapse: collapse;
    color: rgb(51, 51, 51);
}

th,
td {
    padding: 22px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.feature-header {
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    line-height: px;
    color: rgb(51, 51, 51);
}

.feature {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgb(51, 51, 51);
    /* background-color: #00A63E; */
}

th p {
    margin: 4px 0 0;
    font-size: 14px;
    line-height: 20px;
    color:
        oklch(0.551 0.027 264.364);

}

.main,
.main-head {
    background-color: #f1ecff;
}

.main-head {
    color: #7c3aed;
}

.pill {
    background: linear-gradient(90deg, #6b5cff, #8c6cff);
    color: white;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #6b5cff;
}

.red {
    color: #ff4d4d;
    font-weight: 500;

}

tr img {
    width: 20px;
    vertical-align: middle;
}

.winner {
    width: 40%;
    background-color: #fff;
    color: #05a946;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    padding: 15px;
    border: 1px solid #d4cad4;
    border-radius: 15px;
    line-height: 2;


}


.winner img {
    width: 50px;
    display: inline-block;
    padding-top: 15px;
}

.winner-image {
    float: left;
    padding-right: 15px;
}

.winner-content {
    float: left;

}

.winner-content .style-p {
    font-weight: 700;
    font-size: 25px;
    color: #00A63E;
}

/* ====== End Style of  Compare section =======  */






/* =======Start Style of Customers reveiw sec=========   */
#reviews-section {
    position: relative;
    padding: 80px 0;


}


.rating-sec {
    background-color: #fff;
    width: 30%;
    float: left;
    text-align: center;
    border-radius: 25px;
    border: #e1d1d1 1px solid;

    position: sticky;
    top: 20px;

}

.rating-summary {
    padding-top: 30px;
}

.rating-summary p {
    font-size: 16px;
    color: #555;
}

.rating-num {
    font-size: 40px;
    color: #333333;
}

.rating-stars {
    color: gold;
    margin: 10px 0;

}

.rating-bars {
    padding: 20px 0;
}

.rating-bar {
    margin: 10px;
    font-size: 14px;

}

.bar {

    width: 50%;
    height: 6px;
    background: #eee;
    display: inline-block;
    border-radius: 10px;
    margin: 0 5px;
}

.fill {
    height: 6px;
    background: #ffc107;
    border-radius: 10px;
}

.w78 {
    width: 78%;
}

.w15 {
    width: 15%;
}

.w5 {
    width: 5%;
}

.rating-footer {
    width: 80%;
    border-top: 1px solid #e1d1d1;
    margin: auto;
    padding: 15px;


}

.rating-footer .footer-cont {
    float: left;
    width: 50%;
}

.footer-cont .footer-h3 {
    font-size: 28px;
    color: #333333;
    font-weight: 700;

}

.rating-footer h3 {
    font-size: 12px;
    font-weight: 500;
    color: #555;
}

/* reviews */
.reviews-list {
    width: 65%;
    float: right;
}

.review-card {
    background: white;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #e1d1d1;

}

.review-header {
    margin-bottom: 10px;
    vertical-align: middle;
    position: relative;
}

.review-img {
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 5px;
    border: 1px solid #6241f5;

}

.review-info {
    margin-left: 55px;
}

.verified {
    position: absolute;
    top: 0;
    right: 10px;
    background: #eee6ff;
    color: #6241f5;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
}

.time {
    position: absolute;
    padding-right: 40px;
    right: -20px;
    top: 25px;
    font-size: 12px;
    color: #555;
}

.review-stars {
    color: gray;
    margin: 10px 0;
}

.rating-star img {
    width: 30px;
}

.rating-bar img {
    width: 20px;
}

.review-stars img {
    width: 15px;

}

.review-text {
    color: #555;
    font-size: 18px;

}

.load-btn {
    position: absolute;
    right: 30%;
    margin: 15px 0;
    padding: 10px 25px;
    background: #6c4cff;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.load-btn:hover {
    background-color: #fff;
    color: #6c4cff;
    border: #6b4cff 1px solid;
}

/* =========End Style of Customers reveiw sec==========  */



/* =========Start Style of Related Products sec==========  */
#related-products {
    padding: 80px 0;
    background-color: #F7F5FF;
    position: relative;
}

.product-cards .card {
    background-color: #fff;
    padding: 20px 0;
    border-radius: 35px;
    text-align: center;
    transition: all 0.3s;
    border: 1px solid #e1d1d1;
    position: relative;



}

.card-wrapper {

    padding: 0 8px;
    float: left;
    width: 25%;
}


.card img {
    width: 80%;
    border-radius: 15px;

}

.card:hover img {
    transform: scale(1.03);
}

.badge-card {
    position: absolute;
    top: 37px;
    left: 35px;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;

}

.badge-card-1 {
    background-color: #00BBA7;
}

.badge-card-2 {
    background-color: #00C951;
}

.badge-card-3 {
    background-color: #00B8DB;
}

.badge-card-4 {
    background-color: #FF6900;
}

.title-card {
    text-align: left;
    padding: 10px 25px;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

.sub-card {
    text-align: left;
    padding: 10px 25px;
    font-size: 16px;
        color: rgb(51, 51, 51);

}

.footer-price {
    float: left;
    width: 50%;
    padding-top: 20px;

}

.footer-price span {
    font-size: 24px;
    font-weight: 600;
    padding-right: 40px;
}

.footer-price button {

    padding: 12px 25px;
    background: #6c4cff;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;

}

.accessories {
    padding: 70px 0;
}

.accessories-btn {
    margin: 15px 0;
    padding: 12px 25px;
    color: #6c4cff;
    border: 1px solid #6c4cff;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    right: 35%;
    width: 30%;
}

.accessories-btn:hover {
    background: #6c4cff;
    color: white;
}

/* =========End Style of Related Products sec==========  */



/*  =========Start style of Footer sec==========   */
.footer {
    padding-top: 50px;
    background-color: #101828;
    color: #fff;
}

.footer-col {
    float: left;
    width: 25%;
    margin-top: 50px;
    padding-bottom: 25px;
}

.logo-footer img {
    width: 25px;
    background-color: #6b5cff;
    border-radius: 7px;

}

.logo-footer h3 {
    display: inline;
    font-size: 30px;
    padding-left: 10px;
}

.logo-footer p {
    font-size: 16px;
    padding: 10px 0;
    font-weight: 400;
    line-height: 1.6;
}

.social {
    margin-top: 20px;
    padding-bottom: 25px;

}

.fa-brands {
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-right: 5px;


}

.social a {
    background-color: #1E2939;

    padding: 10px 5px 3px 10px;
    border-radius: 7px;
    margin-left: 2px;
    transition: all 0.5s;

}

.social .facebook-icon:hover {
    background-color: #1877F2;
}

.social .twitter-icon:hover {
    background-color: #1DA1F2;
}

.social .instagram-icon:hover {
    background-color: #E4405F;
}

.social .youtube-icon:hover {
    background-color: #FF0000;
}

ul {
    padding: 15px 0;
}

.footer-col ul li {
    list-style: none;
    text-decoration: none;
    padding: 2px 0;


}

.footer-col ul li a {
    text-decoration: none;
    line-height: 1.5;
    color: oklch(73.884% 0.06905 284.577);
    ;
    transition: all .05s;


}

.footer-col ul li a:hover {
    color: #fff;
}

.footer-bottom {
    border-top: 1px solid #202938;
    margin: auto;
    padding: 15px;
}


.copyright {
    float: left;
    padding: 0;
    color: #9e9797;
    margin: 15px;

}

.payments {
    float: right;
    padding: 15px 0;
}

.payments .payment-image {
    float: left;
    background-color: #fff;
    border-radius: 5px;
    margin: 15px;

}

.payments img {
    width: 40px;
    vertical-align: middle;
}

/*  =========End style of Footer sec==========   */